{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}日志{% endblock %}

{% block allcontent %}

<div class="ui page grid">
  <div class="sixteen wide column">
    <table class="ui small table">
      <thead>
        <tr>
          <th>时间</th>
          <th>操作者</th>
          <th>操作对象</th>
          <th>类型</th>
          <th>配置</th>
          <th>动作</th>
          <th>描述</th>
        </tr>
      </thead>
      <tbody>
        {% for item in logs %}
          <tr>
            <td>{{ item.time }}</td>
            <td>{{ item.actor }}</td>
            <td>{{ item.target }}  </td>
           	<td>{{ item.gtype }} </td>
           	<td>
             <div class="ui basic button tiny tip" data-variation="inverted" data-html='
            {% if item.manufacturer %}
            		<div class="ui label" style="margin-top:5px">厂商 : {{ item.manufacturer }}</div>
					<div class="ui label" style="margin-top:5px">型号 : {{ item.version }} </div>
					<div class="ui label" style="margin-top:5px">其他: {{ item.other }}</div>
			{% endif %}
                {% for pro in item.prop %}
                  {% if pro.pro_name != "" %}
                  <div class="ui label" style="margin-top:5px">{{ pro.pro_name }}: {{ pro.pro_value }}</div>
                  {% endif %}
                {% endfor %}
                '>详细</div></td>

            <td>{{ item.action }}</td>
            <td>{{ item.desc }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}