{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}申请采购{% endblock %}

{% block allcontent %}

<div class="ui grid" style="margin-top: 10px">
    <div class="one column row">
        <div class="column">
            <h2 class="ui header" style="margin-top: 10px; margin-left: 10px">申请采购</h2>
        </div>
        <div class="column">
            <form id="add-goods-form" method="post" action='{% url "goods.views.add_goods" %}'>
                <div class="ui form fluid segment" id="form-segment">
                    <!--error loading-->
                    <div class="ui error message">
                        <div class="header">错误</div>
                        <p></p>
                    </div>
                    <div class="three fields">
                        <div class="field fluid">
                            <label>实物名称</label>
                            <input placeholder="实物名称" type="text" name="name" id="name">
                        </div>
                        <div class="field fluid">
                            <label>起始SN号</label>
                            <input placeholder="实物SN号" type="text" name="sn" id="sn">
                        </div>
                        <input type="hidden" value="purchase" name="type_name" id="type_name">
                        <div class="field fluid">
                            <label>实物数量</label>
                            <input placeholder="实物数量" type="text" id="quantity" disabled>
                        </div>
                    </div>
                    <span id="properties">
                        <div class="field" id="pro1">
                            <label id="pro1_name">厂商</label>
                            <input {% if request_purchase.pro1_value != " " %} value ="{{ request_purchase.pro1_value }}" {% else %} placeholder="厂商" {% endif %} type="text" name="pro1_value" id="pro1_value" />
                        </div>
                        <div class="field" id="pro2">
                            <label id="pro2_name">型号</label>
                            <input {% if request_purchase.pro2_value != " " %} value ="{{ request_purchase.pro2_value }}" {% else %} placeholder="型号" {% endif %} type="text" name="pro2_value" id="pro2_value" />
                        </div>
                        <div class="fields">
                            <div class="three wide field" id="pro3">
                                <label id="Label1">是否付款?</label>
                                <input placeholder="是" type="text" name="pro3_value" id="pro3_value" />
                            </div>
                            <div class="three wide field" id="pro4">
                                <label id="Label2">是否建账?</label>
                                <input placeholder="是" type="text" name="pro4_value" id="pro4_value" />
                            </div>
                            <div class="ten wide field" id="pro5">
                                <label id="Label3">其它</label>
                                <input type="text" name="pro5_value" id="pro5_value" />
                            </div>
                        </div>
                    </span>
                    <button type="button" class="ui green button" id="submit-button">提交</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
  <script>
      $(function () {
          // 更新数量
          $('#sn').keydown(function () {
              var snArray = $('#sn').val().split(',');
              var snQuantity = 0;
              var snLength = snArray.length;
              for (var i = 0; i < snLength; i++) {
                  if (snArray[i] != '')
                      snQuantity++;
              }
              $('#quantity').val(snQuantity);
          });

          $('.ui.dropdown').dropdown();
          //提交
          $('#submit-button').click(function () {
              var name = $("#name").val();
              var quan = $("#quantity").val();
              var regexp = /^[1-9][0-9]*$/;
              if (name.length <= 0) {
                  $('#form-segment').addClass('error');
                  $('#name').parent().addClass('error');
                  $('.error.message').children('p').text('实物名称不能为空');
                  return;
              }
              if (!regexp.test(quan)) {
                  $('#form-segment').addClass('error');
                  $('#quantity').parent().addClass('error');
                  $('.error.message').children('p').text('实物数量需要是大于0的合法数值');
                  return;
              }
              //提交表单
              /*$('#add-goods-form').submit(function(e){
                alert('submitted');
              });*/
              $('#add-goods-form').trigger('submit');
          })
          $('input').click(function () {
              $('#form-segment').removeClass('error');
          });
          $('#name').click(function () {
              $('#form-segment').removeClass('error');
              $('#name').parent().removeClass('error');
          });
          $('#quantity').click(function () {
              $('#form-segment').removeClass('error');
              $('#quantity').parent().removeClass('error');
          });

      });
  </script>
{% endblock %}